//-------------------------
// shape
//-------------------------

rect()
  width arguments[0]
  height arguments[1]

round-rect()
  width arguments[0]
  height arguments[1]
  border-radius arguments[2]

square()
  width arguments
  height arguments

round-square()
  width arguments[0]
  height arguments[0]
  border-radius arguments[1]

circle()
  width arguments
  height arguments
  border-radius 50%

//-------------------------
// layout
//-------------------------

container()
  if arguments == flex
    display flex
  else if arguments == btn
    display flex
    justify-content center
    align-items center
  else if arguments == vlist
    display flex
  else if arguments == hlist
    display flex
    flex-direction column
    align-items center
  else if arguments == vcard
    display flex
    flex-wrap wrap
  else if arguments == hcard
    display flex
    flex-wrap wrap
    flex-direction column